In [7]:
import pandas as pd
import numpy as np

In [8]:
df=pd.read_csv(r"C:\Users\msnit\Downloads\customer.csv")
df.sample(5,random_state=42)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        50 non-null     int64
 1   gender     50 non-null     object
 2   review     50 non-null     object
 3   education  50 non-null     object
 4   purchased  50 non-null     object
dtypes: int64(1), object(4)
memory usage: 2.1+ KB

In [9]:
df.columns

Index(['age', 'gender', 'review', 'education', 'purchased'], dtype='object')

In [10]:
df=df.drop('age',axis=1)

In [31]:

X=df.drop('purchased',axis=1)
y=df['purchased']
df.sample(5,random_state=10)

    gender   review education purchased
37    Male  Average        PG       Yes
23  Female     Good    School        No
44  Female  Average        UG        No
42  Female     Good        PG       Yes
47  Female     Good        PG       Yes

In [24]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder,OrdinalEncoder
df.shape

(50, 4)

In [25]:
 X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.22, random_state=5)

In [26]:
Encoding=OrdinalEncoder()

In [27]:
TrainedOE=Encoding.fit_transform(X_train)

In [36]:
TrainedOE

array([[0., 0., 2.],
       [1., 0., 2.],
       [0., 0., 1.],
       [0., 1., 1.],
       [0., 0., 1.],
       [0., 1., 2.],
       [1., 0., 1.],
       [1., 0., 0.],
       [0., 2., 0.],
       [1., 1., 0.],
       [0., 1., 0.],
       [0., 0., 0.],
       [0., 1., 2.],
       [0., 0., 2.],
       [0., 1., 1.],
       [1., 1., 1.],
       [0., 2., 0.],
       [0., 0., 1.],
       [0., 1., 2.],
       [0., 2., 2.],
       [1., 1., 2.],
       [0., 0., 1.],
       [1., 1., 1.],
       [0., 2., 0.],
       [1., 2., 2.],
       [1., 2., 1.],
       [0., 2., 1.],
       [1., 2., 0.],
       [1., 0., 2.],
       [0., 2., 0.],
       [1., 2., 0.],
       [0., 1., 2.],
       [0., 0., 2.],
       [1., 1., 2.],
       [1., 2., 2.],
       [0., 1., 1.],
       [0., 1., 0.],
       [1., 2., 0.],
       [1., 2., 1.]])

In [32]:
Tested_OE=Encoding.transform(X_test)

In [33]:
Tested_OE

array([[0., 1., 0.],
       [0., 0., 2.],
       [1., 1., 1.],
       [1., 2., 0.],
       [1., 2., 1.],
       [0., 2., 2.],
       [0., 1., 0.],
       [1., 2., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 2., 1.]])